<a routerLink="/tasks">← Back to tasks</a>

<ui-card *ngIf="task; else notFound">
  <h1>{{ task.title }}</h1>

  <p *ngIf="task.description; else noDesc">
    {{ task.description }}
  </p>
  <ng-template #noDesc>
    <p><em>No description</em></p>
  </ng-template>

  <div style="display:flex; gap:8px; margin: 10px 0;">
    <ui-badge variant="info">{{ task.status }}</ui-badge>
    <ui-badge variant="neutral">{{ task.priority }}</ui-badge>
  </div>

  <div style="display:flex; gap:10px; margin-top:12px;">
    <a [routerLink]="['/tasks', task.id, 'edit']">
      <ui-button variant="secondary">✏️ Edit</ui-button>
    </a>

    <ui-button variant="danger" (click)="onDelete()">🗑️ Delete</ui-button>
  </div>
</ui-card>

<ng-template #notFound>
  <ui-card>
    <h1>Task not found</h1>
    <p>Cette tâche existe pas.</p>
    <a routerLink="/tasks">Retour à la liste</a>
  </ui-card>
</ng-template>
